<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/style.css">
  <script src="jquery-3.6.0.min.js"></script>
  <script src='js/script.js'></script>
</head>
<body>
  <div id="navSidepanel" class="sidebar">
    <a href="#">About</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </div>
  <div class="sidebarButtonWrapper">
    <button id= "sidebarButton" class="toggleButton">
      <img id="sidebarIcon" src="static/icon/open-menu.svg">
    </button>
  </div>
  <div id="main" class="contentFrame">
    {{ content }}
  </div>
</body>
