/* Set global variables */
:root {
    --backgroundColor: rgba(50, 100, 200, 1);
    --sidebarWidth: 180px;
    --collapsibleBorderColor: rgba(0, 0, 0, 0.3);
    --collapsibleHeaderColor: var(--backgroundColor);
    --contentBackgroundColor: white;
}

/* html and body */
html {
    display: flex;
}
body {
    display: flex;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    background: var(--backgroundColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Center the spotify iframe */
iframe {
    margin-left: 5%;
    width: 90%;
}

@font-face {
    font-family: Siyuansongti;
    font-weight: bold;
    src: url("/assets/static/font/SiYuanSongTi-SC-Light.otf") format("opentype");
}

/* The sidebar menu */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    height: 100%; /* 100% Full-height */
    width: var(--sidebarWidth);
    padding-top: 20px;
    background-color: transparent;
}

/* The sidebar links */
.sidebar a {
    display: block;
    opacity: 0.5;
    width: 100%;
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}
  
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    opacity: 1;
}

/* Sidebar button bar */
.sidebarButtonWrapper {
    position: fixed;
    z-index: 200; /* Stay on top */
    top: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0px 15px 15px 0;
    width: 52px;
    height: 52px;
    background-color: var(--backgroundColor);
}

/* The button used to open/close the sidebar */
#sidebarButton {
    border: none;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

/* The icon of the button */
#sidebarButtonIcon {
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

/* Hover highlight the button */
#sidebarButtonIcon:hover{
    opacity: 1;
}

#mainFrame {
    position: absolute;
    float: right;
    right: 0;
    transition: width 0.4s;
    width: 100%;
}

.headerFrame {
    position: relative;
    z-index: 150;
    align-items: center;
    justify-content: left;
    text-align: center;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: white;
}

/* Header */
.headerFrame h1 {
    position: absolute;
    margin-left: 5%;
    width: 40%;
    font-size: 50px;
    font-family: Siyuansongti, serif ;
    letter-spacing: 10px;
}

.headerFrame .avatarWrapper {
    position: absolute;
    transform: translateX(-50%);
    margin-left: 50%;
    border: 2px solid var(--backgroundColor);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--backgroundColor);
}

.headerFrame .avatarWrapper img {
    border-radius: 50%;
    width: 100%;
}

.headerFrame .avatarWrapper:hover img {
    opacity: 0.2;
}

/* Main content div */
.contentFrame {
    width: 100%;
}

.stickyNode {
    position: relative;
    width: 100%;
    height: 100%;
}

.collapsible {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    border: none;
    width: 100%;
    background-color: transparent;
}

.collapsibleButton {
    border: none;
    border-bottom: 3px solid var(--backgroundColor);
    width: 100%;
    height: min-content;
    font-size: 10px;
    text-align: left;
    background-color: white;
    cursor: pointer;
}

.collapsibleButton h2 {
    margin: 10px;
    margin-left: 80px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: var(--collapsibleHeaderColor);
}

.collapsibleButton h2::after {
    float: right;
    margin-right: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: var(--backgroundColor);
}

.collapsibleButton:hover h2::after {
    color: white;
}

.collapsibleButton:hover {
    background-color: var(--backgroundColor);
}

.collapsibleButton:hover h2 {
    color: white;
}

.collapsibleButton .expandedHeader::after {
    content: '-';
}

.collapsibleButton .collapsedHeader::after {
    content: '+';
}

.collapsibleContent {
    overflow: hidden;
    transition: margin-top 0.5s;
    margin-top: 0;
    width: auto;
    background-color: var(--contentBackgroundColor);
}

.collapsibleContent p {
    margin-left: 90px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-device-width: 450px) {
    :root {--sidebarWidth: calc(100% - 50px);}
    .sidebarButtonWrapper {float: none;}
    .contentFrame {float: none;}
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
} 
